*{
    font-family: 'Times New Roman', Times, serif;
}

#patt{
    background-color: #1E90FF;
    height: 250px;
    background-image: url(../img/pattern.png);
}
#logo{
    width: 350px;
    top: 150px;
    position: absolute;
}
#boolean{
    color: #3fb5e8;
}

.description{
    font-size: 12px;
}

.evidenziatore{
    background-color: yellow;
}

#tab-header{
   width: 100%;
   background-color: #3fb5e8;
}
.titol-tab{
    background-color: #3fb5e8;
}

.tab{
    background-color: #b1e5f2;
}